@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>iCharge U</h1>
    <p class="lead">
        A 1ª plataforma online que permite que todos os donos de veículos electricos possa ter em seu poder todo
        o conhecimento sobre onde podem carregar as suas viaturas.
    </p>
    <p>Registre-se e faça login na nossa plataforma para ter acesso a todo o conteúdo.</p>
</div>


<div id="about-section" class="row">
    <div class="col-md-8">
        <h2>About</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
    <div class="col-md-4">
        //TODO put image
    </div>
</div>

<div id="contact-section" class="row">
    <div class="col-md-12">
        <h2>Contact</h2>
    </div>
    <div class="col-md-8">
        <form action="#">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" style="min-width: 100%;">
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="3" id="comment" style="min-width: 100%;"></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>
    </div>
    <div class="col-md-4 vcenter">
        <h3 class="h3">Address</h3>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>
