pweb1920/.vs/pweb1920/config/applicationhost.config
pweb1920/.vs/pweb1920/v16/.suo
pweb1920/.vs/pweb1920/v16/Server/sqlite3/storage.ide
pweb1920/pweb1920/bin/pweb1920.dll
pweb1920/pweb1920/bin/pweb1920.pdb
pweb1920/pweb1920/obj/Debug/pweb1920.csproj.FileListAbsolute.txt
pweb1920/pweb1920/obj/Debug/pweb1920.csprojAssemblyReference.cache
pweb1920/pweb1920/obj/Debug/pweb1920.dll
pweb1920/pweb1920/obj/Debug/pweb1920.pdb
pweb1920/pweb1920/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pweb1920/pweb1920/Scripts/Site.js
pweb1920/pweb1920/pweb1920.csproj
