pweb1920/.vs/pweb1920/v16/Server/sqlite3/storage.ide-shm
pweb1920/.vs/pweb1920/v16/Server/sqlite3/storage.ide-wal
pweb1920/.vs/pweb1920/v16/Server/sqlite3/storage.ide
pweb1920/.vs/pweb1920/config/applicationhost.config
pweb1920/pweb1920/obj/Debug/pweb1920.csproj.CoreCompileInputs.cache
pweb1920/pweb1920/obj/Debug/pweb1920.csprojAssemblyReference.cache
