@model pweb1920.Models.DTO.CreateReservationDTO

@{
    ViewBag.Title = "Create Reservation";
}

<h2>Create Reservation</h2>


@Html.DropDownListFor(m => m.District, Model.DistrictDropDown, "Please select", new { @class = "form-control" })
<br />
<br />

@Html.DropDownListFor(m => m.City, Model.CityDropDown, "Please select", new { @class = "form-control" })
<br />
<br />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#District").change(function () {
                $.get("/Reservations/GetCities", { id: $("#District").val() }, function (data) {
                    $("#City").empty();
                    $.each(data, function (index, row) {
                        $("#City").append("<option value='" + row.Id + "'>" + row.City + "</option>")
                    });
               });
        })
      });
    </script>
}
