@model pweb1920.Models.DTO.IndexStationDTO

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <span class="glyphicon glyphicon-list"></span>
            </li>
        </ol>
        <h2>
            Search
            <small>by Districts</small>
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            Districts
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Stations)
                    {
                        <tr onclick="location.href = '@(Url.Action("Search", "Stations", new { district = item.Id }))'" style="cursor: pointer" class="row-hover">
                            <td>
                                @Html.DisplayFor(modelItem => item.District)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Index", "Stations")" role="button">
            <span class="glyphicon glyphicon-share-alt"></span> Back to List
        </a>
    </div>
</div>
